@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: url(bgx.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    position: absolute;
    top: 22%;
    left: 40%;
    color: white;
    width: 22%;
}

.container h1{
    font-family: 'Heebo', sans-serif;
    width: 30%;
    display: inline-block;
    font-size: 1.6rem;
    /* border-bottom: 2px solid purple; */
    margin-bottom: 16px;
    padding: 16px 0;
    box-shadow: 1px 1px 5px 2px darkblue;
    border-radius: 8px;


}

.box{
    width: 100%;
    /* border-bottom: 2px solid purple; */
    margin: 22px 0px;
}

.box input{
    background: none;
    font-size: 16px;
    padding: 4px 14px;
    width: 74%;
    border: none;
    outline: none;
    color: rgb(230, 230, 230);
    box-shadow: 2px 2px 5px 2px darkblue;
}

.box i{
    width: 24px;
    text-align: center;
}

.btn{
    background: none;
    /* border: 2px solid purple; */
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 8px 22px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 5px 2px darkblue;

}

.btn:hover{
    opacity: 1.0;
    color: green;
    background: white;
}
